:root {
    --bg-dark-color: #181512;
    --text-dark-color: #fff;
    --text-dark-subtext-color: #8a8a8a;
    --text-highlight: #f8f295;
    --seperator: rgba(236, 116, 116, 0.5);

    /* hidden light theme */
    --bg-light-color: #fff;

}

* {
    font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial", sans-serif;
}

.nav {
    margin-top: 2rem;
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    gap: 10px;
}

body {
    margin: 0;
    padding: 0 1rem 0rem 1rem;
    min-height: 100vh;
    color: var(--text-dark-color);
    background-color: var(--bg-dark-color);
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.main div,
footer {
    flex: 1;
    width: 100%;
    max-width: 75ch;
}

.main footer {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    color: var(--text-dark-subtext-color)
}

a,
.text-highlight {
    color: var(--text-highlight);
    text-decoration: none;
}

.text-normal {
    color: var(--text-dark-color);
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 1rem;
}